# Local lab ops kept on disk, not in public index
# Regenerated clean (UTF-8) -- do not git add -f these paths.
# Paths are relative to scripts/. Never ignore tracked Hunt/CI scripts.

ops/_local_stack_smoke.sh
ops/_repair_msk_worker.py
ops/_validation_job_wrapper.sh
ops/apply_miner_fair_all.sh
ops/apply_miner_fair_pool.sh
ops/apply_security_hardening_vps.sh
ops/apply_settlement_bootstrap_tuning.sh
ops/audit_wallet_db.sh
ops/backup_treasury_to_desktop.sh
ops/bootstrap_security_fuzz_campaign.sh
ops/bootstrap_telegram_operator_env.sh
ops/bounty_8h_morning_report.sh
ops/bounty_morning_report.sh
ops/bounty_overnight_preflight.sh
ops/build_customer_bytes_guard.sh
ops/build_fuzzing_client.sh
ops/build_gpu_workers.sh
ops/build_native_repro_pack.sh
ops/build_oss_libfuzzer.sh
ops/build_oss_libfuzzer_libheif.sh
ops/cancel_pool_fuzz_gates.sh
ops/canonical_autopilot_setup.sh
ops/canonical_consistency_smoke.sh
ops/capture_mining_baseline_2d.sh
ops/check_hackme_origin.sh
ops/check_native_asan_story.sh
ops/check_pool_abuse_invariants.sh
ops/cleanup_local_database_junk.sh
ops/cloudflare_dns_failover.sh
ops/compare_baseline_2d.sh
ops/compare_baseline_4h.sh
ops/core_gate.sh
ops/demo_participant_up.sh
ops/deploy_fuzzing_b2b_release.sh
ops/deploy_hms_heavy_vps.sh
ops/deploy_hms_hub_metrics.sh
ops/deploy_release_rc11g_iso.sh
ops/deploy_vps_miner_password.py
ops/deploy_vps_settlement_fix.sh
ops/deploy_windows_worker.sh
ops/desktop_accrual_audit.sh
ops/desktop_backup_vps_wallet.sh
ops/desktop_final_preflight.sh
ops/desktop_finalize.sh
ops/desktop_full_mining_tune_check.sh
ops/desktop_morning_report.sh
ops/desktop_node_build.sh
ops/desktop_overnight_monitor.sh
ops/desktop_overnight_preflight.sh
ops/desktop_overnight_start.sh
ops/desktop_verify_miner_address.sh
ops/desktop_vps_settlement_note.sh
ops/desktop_worker.env.example
ops/dev_cleanup_orders_wallet.sh
ops/docker_e2e_smoke.sh
ops/domain_https_up.sh
ops/dual_vps_cutover.sh
ops/enable_vps_canary_mining.sh
ops/ensure_workerfuzz_payout.sh
ops/env.hms.heavy.example
ops/env.hms.hub.example
ops/exchange_listing_smoke.sh
ops/explorer_subdomain_up.sh
ops/export_bitcoin30_day_html.py
ops/export_bitcoin30_week_html.py
ops/export_ckpool_fuzz_report_html.py
ops/export_mkpool_fuzz_report_html.py
ops/export_oss_cve_cases.py
ops/export_oss_cve_watch_html.py
ops/export_oss_cve_watch_libfuzzer.py
ops/export_oss_cve_watch_libheif_libfuzzer.py
ops/export_oss_libfuzzer_session.py
ops/export_oss_pr_rollup_html.py
ops/export_stratum_mining_fuzz_report_html.py
ops/fair_pool_order_compete_test.sh
ops/fetch_bounty_programs.sh
ops/fetch_upstream_pins.sh
ops/finalize_pool_abuser.sh
ops/fix_nvml_and_gpu_worker.sh
ops/fleet_post_connect_smoke.sh
ops/fleet_soak_10h.sh
ops/fleet_soak_briefing.sh
ops/fleet_soak_sample.sh
ops/follower_bootstrap_from_vps.sh
ops/fund_settlement_treasury.sh
ops/fuzz_depth_v3_gate.sh
ops/fuzz_engine_v2_gate.sh
ops/fuzz_housekeeping_sweep.sh
ops/fuzz_report_pro_gate.sh
ops/fuzz_strict_recover.sh
ops/fuzz_tier_c_gate.sh
ops/fuzzing_soak_prep.sh
ops/fuzzing_windows_quickstart.ps1
ops/generate_local_operator_tokens.sh
ops/hardware_tune_live_suite.sh
ops/hms_asic_pilot.sh
ops/hms_coordinator_up.sh
ops/hms_genesis_init.sh
ops/hms_local_pilot.sh
ops/hms_prelaunch_gate.sh
ops/hms_stratum_up.sh
ops/install_coordinator_fuzz_cleanup_env.sh
ops/install_desktop_systemd_user.sh
ops/install_libheif_24h_cadence_systemd.sh
ops/install_mirror_snapshot_cron.sh
ops/l1_crypto_stack_gate.sh
ops/l1_crypto_stack_v3_gate.sh
ops/l1_crypto_stack_v4_gate.sh
ops/launch_heavy_pool_campaign.sh
ops/local_fuzz_sandbox_gate.sh
ops/miner_happiness_check.sh
ops/mining_difficulty_trace.py
ops/mining_economics_report.sh
ops/mining_long_soak.sh
ops/mining_morning_check.sh
ops/mining_night_baseline.sh
ops/mining_night_snapshot.sh
ops/miningboard_listing_preflight.sh
ops/mirror_restore_drill.sh
ops/mirror_snapshot.sh
ops/monitor_pool_campaign.sh
ops/monitor_pool_health.sh
ops/mps_listing_readiness.sh
ops/native_repro_oss_guard.sh
ops/network_stability_soak.sh
ops/new_miner_journey_gate.sh
ops/nginx_downloads_interest.py
ops/nginx_downloads_interest.sh
ops/nightly_max_gate.sh
ops/node_easy_up.sh
ops/operator_phase1_gate.sh
ops/order_economics_audit.py
ops/oss_cve_fuzzer_watchdog_once.sh
ops/oss_cve_gate.sh
ops/oss_cve_libheif_watchdog_once.sh
ops/p2p_autopilot.sh
ops/p2p_follower_sync.sh
ops/p2p_peer_probe.sh
ops/pack_vast_gpu_matrix.sh
ops/patch_site_shell_pages.py
ops/penny_reconcile.sh
ops/pool_adversarial_public.sh
ops/pool_fairness_audit.sh
ops/pool_fuzz_distributed_gate.sh
ops/pool_fuzz_escrow_redteam_gate.sh
ops/pool_multi_rig_monitor.sh
ops/pool_production_finalize.sh
ops/pool_production_stress_suite.sh
ops/pool_release_freeze.sh
ops/pool_sync_health_gate.sh
ops/predeploy_gate.sh
ops/prefinal_public_sync.sh
ops/prepare_mirror_prod_stack.sh
ops/prepare_worker_fleet_envs.sh
ops/production_master_gate.sh
ops/prune_desktop_stale_tx_pool.sh
ops/prune_stale_local_pool_fuzz.sh
ops/prune_stale_pool_fuzz_campaigns.sh
ops/prune_workerpoh_logs.sh
ops/public_release_readiness.sh
ops/public_ultra_preflight.sh
ops/publish_oss_cve_watch_day_finish.sh
ops/publish_oss_cve_watch_libheif_day_finish.sh
ops/rc17_cutover_gate.sh
ops/recon_sui_vm_targets.sh
ops/reconcile_settlement_state.sh
ops/refund_stale_fuzz_escrow.sh
ops/release_rc11s_publish.sh
ops/release_rc12w_publish.sh
ops/repair_msk_worker.sh
ops/repair_worker_settlement_state.sh
ops/repo_final_selfcheck.sh
ops/repro_oss_hold_disclosure.sh
ops/reseed_follower_pick_best_backup.sh
ops/restart_linux_desktop_worker.sh
ops/restore_db.sh
ops/resume_pool_mining.sh
ops/resync_pool_fuzz_campaigns.sh
ops/revoke_pool_abuser.sh
ops/rollout_coordinator_worker_token.sh
ops/rotate_vps_admin_token.sh
ops/rsync_vps_hackme_ops.sh
ops/run_bitcoin30_remaining.sh
ops/run_bitcoin30_week3.sh
ops/run_bitcoin_core_5module_research.sh
ops/run_bounty_deep_push.sh
ops/run_bounty_hunt_after_wave13.sh
ops/run_bounty_hunt_v2.sh
ops/run_bounty_hunt_wave13.sh
ops/run_bounty_lab.sh
ops/run_bounty_max_push.sh
ops/run_bounty_money_hunt.sh
ops/run_bounty_resume.sh
ops/run_bounty_web_scan.sh
ops/run_canonical_fuzz_gate.sh
ops/run_ckpool_stratum_fuzz_pack.sh
ops/run_crash_hunt.sh
ops/run_customer_live_audit_pack.sh
ops/run_customer_pool_smoke.sh
ops/run_ephemeral_stack_and_gates.sh
ops/run_fuzz_depth_v3_live.sh
ops/run_fuzz_redteam_oob_campaign.sh
ops/run_immunefi_hedera_deep.sh
ops/run_immunefi_hunt.sh
ops/run_immunefi_pilot.sh
ops/run_l1_crypto_stack_research.sh
ops/run_l1_crypto_stack_v3_research.sh
ops/run_l1_crypto_stack_v4_live.sh
ops/run_local_bytes_pilot.sh
ops/run_local_customer_demo.sh
ops/run_local_full_matrix.sh
ops/run_local_pack_demo.sh
ops/run_local_pack_e2e.sh
ops/run_local_treasury_mine.sh
ops/run_max_parallel_verify.sh
ops/run_miner_launch_gate.sh
ops/run_mkpool_stratum_fuzz_pack.sh
ops/run_oss_cve_deep_daynight.sh
ops/run_oss_cve_easy_long.sh
ops/run_oss_cve_hold_deep.sh
ops/run_oss_cve_obscure.sh
ops/run_oss_cve_watch_background.sh
ops/run_oss_cve_watch_day.sh
ops/run_oss_cve_watch_evening_cadence.sh
ops/run_oss_cve_watch_libfuzzer_day.sh
ops/run_oss_cve_watch_libheif_24h_cadence.sh
ops/run_oss_cve_watch_libheif_libfuzzer_day.sh
ops/run_oss_cve_wave13.sh
ops/run_oss_cve_wave30.sh
ops/run_oss_cve_wave4.sh
ops/run_oss_cve_wave5.sh
ops/run_oss_cve_wave6.sh
ops/run_oss_cve_wave7.sh
ops/run_oss_libfuzzer_session.sh
ops/run_oss_libyaml_deep.sh
ops/run_oss_pr_full.sh
ops/run_oss_pr_fuzz_hunt.sh
ops/run_oss_reputation_day.sh
ops/run_pool_incident_redteam.sh
ops/run_prod_bytes_pilot.sh
ops/run_prod_multi_container_fuzz.sh
ops/run_prod_multilang_pool_fuzz_matrix.sh
ops/run_prod_pool_fuzz_campaign.sh
ops/run_public_staging_node.sh
ops/run_public_worker_smoke.sh
ops/run_security_research_campaign.sh
ops/run_stratum_mining_fuzz_pack.sh
ops/run_tier_c_cve_demo.sh
ops/run_validation_suite.sh
ops/run_vps_pool_fuzz_audit.sh
ops/run_warppool_stratum_fuzz_pack.sh
ops/run_web_recon_sweep.sh
ops/security_audit_gate.sh
ops/settlement.env.example
ops/setup_cuda_desktop.sh
ops/setup_git_hooks.sh
ops/setup_news_bot_service.sh
ops/setup_rc_nightly_timer.sh
ops/setup_telegram_operator_bot.sh
ops/setup_worker_autostart_service.sh
ops/setup_worker_settlement_service.sh
ops/simulate_pool_swarm_local.sh
ops/site_ip_up.sh
ops/ssh_config_snippet_msk.conf
ops/stack_strict_up.sh
ops/stack_up.sh
ops/start_bitcoin30_5days.sh
ops/start_bounty_8h_marathon.sh
ops/start_crash_hunt.sh
ops/start_inline_hybrid_desktop.sh
ops/start_max_verify_live.sh
ops/start_mining_watch.sh
ops/start_today_penny_watch.sh
ops/stop_test_named_fleet_tail5.sh
ops/sup_full_verdict_gate.sh
ops/sup_genesis_init.sh
ops/sweep_to_primary.sh
ops/sync_desktop_admin_token.sh
ops/sync_desktop_canonical_db.sh
ops/sync_desktop_settlement_canonical.sh
ops/systemd/hackme-desktop-user.service
ops/systemd/hackme-hms-coordinator.service
ops/systemd/hackme-hms-epoch-settle.service
ops/systemd/hackme-hms-epoch-settle.timer
ops/systemd/hackme-test-named-fleet-tail5.service
ops/telegram_bot.env.example
ops/telegram_bot_up.sh
ops/tools/pool_stress_runner.py
ops/top_pool_readiness_gate.sh
ops/ultimate_max_gate.sh
ops/unstick_fuzz_campaign_leases.sh
ops/use_hackme_tech_public_authority_env.sh
ops/use_public_staging_network_env.sh
ops/verify_chain_sync_snapshot.sh
ops/verify_hackme_hms_live.sh
ops/verify_mybucks_challenge.sh
ops/verify_pool_dashboard.sh
ops/verify_project_health.sh
ops/verify_public_download.sh
ops/verify_upstream_fidelity.sh
ops/vps_canonical_smoke.sh
ops/vps_disk_cleanup.sh
ops/vps_emergency_recover.sh
ops/vps_enable_nginx_client_ip_log.sh
ops/vps_ensure_developer_token.sh
ops/vps_ensure_integrator_env.sh
ops/vps_host_sanity.sh
ops/vps_inventory_snapshot.sh
ops/vps_patch_coordinator_nginx_query.sh
ops/vps_patch_explorer_nginx_api_routes.sh
ops/vps_patch_nginx_connections.sh
ops/vps_patch_nginx_downloads.sh
ops/vps_patch_nginx_gzip.sh
ops/vps_patch_nginx_integrator.sh
ops/vps_patch_nginx_wallet_public.sh
ops/vps_prod_fix.sh
ops/vps_recover_and_deploy.sh
ops/vps_set_telegram_admin_chat.sh
ops/vps_settlement_bootstrap.sh
ops/vps_setup_nginx_logrotate.sh
ops/vps_sup_phase_c_finalize.sh
ops/vps_version_check.sh
ops/vps_wallet_audit_remote.sh
ops/vps_watch_and_recover.sh
ops/windows_fix_env_and_restart.ps1
ops/windows_rx580_ideal.sh
ops/worker_autotune_hashrate.sh
ops/worker_mine_start.sh
ops/worker_mine_status.sh
ops/worker_mine_stop.sh
ops/worker_mode_health.sh
ops/worker_mode_hub_up.sh
ops/worker_mode_participant_up.sh
ops/worker_mode_recover.sh
ops/worker_power_lab.sh
ops/worker_power_lab_series.sh
ops/worker_vps_deploy.sh
ops/workerfuzz_autostart.sh
ops/workerfuzz_systemd.sh
tests/b2b_tier_pool_distribution_gate.sh
tests/canonical_proxy_smoke.sh
tests/coordinator_api_fuzz_gate.sh
tests/coordinator_mega_stress.sh
tests/coordinator_memory_leak_spec.sh
tests/coordinator_stress.env
tests/customer_readiness_gate.sh
tests/customer_real_network_phasing.sh
tests/desktop_mode_stop_gate.sh
tests/e2e_stack.sh
tests/economics_confidence_gate.sh
tests/ephemeral_hackme_node.sh
tests/export_sim_arch_matrix.go
tests/fuzz_b2b_wizard_smoke.sh
tests/fuzz_dashboard_smoke.sh
tests/fuzz_marketplace_lifecycle_gate.sh
tests/fuzz_regression_gate.sh
tests/fuzzing_cli_smoke.sh
tests/fuzzing_developer_portal_smoke.sh
tests/fuzzing_portal_api_smoke.sh
tests/fuzzing_public_hardening_smoke.sh
tests/global_gpu_matrix_hardware_audit.sh
tests/gpu_power_smoke.sh
tests/gpu_rig_suite.sh
tests/hardware_tab_gate.sh
tests/hmc_customer_verdict_gate.sh
tests/hms_full_gate.sh
tests/hms_loopback_pilot.sh
tests/hms_market_gate.sh
tests/hms_market_integrity.sh
tests/hms_market_redteam.sh
tests/hms_market_roundtrip.sh
tests/hms_stratum_live_verify.sh
tests/hybrid_crypto_matrix.sh
tests/integrator_self_service_smoke.sh
tests/iso_full_gate.sh
tests/iso_qemu_boot_smoke.sh
tests/live_network_economy_gate.sh
tests/load_mega_suite.sh
tests/max_verdict_gate.sh
tests/maximum_resilience_gate.sh
tests/mega_stress.sh
tests/miner_journey_wow.sh
tests/miner_zero_config_journey.sh
tests/mining_load_suite.sh
tests/mining_marathon_gate.sh
tests/mock_miners_load.sh
tests/payments_e2e_max.sh
tests/pool_fuzz_sync_gate.sh
tests/pool_subsidy_budget_gate.sh
tests/public_release_mega_pack.sh
tests/rehearsal_onboarding.sh
tests/release_full_check.sh
tests/run_full_audit.sh
tests/run_test_pack.sh
tests/run_ultimate_validation.sh
tests/run_user_rpg_fuzz_demo.sh
tests/site_pages_audit.sh
tests/site_release_consistency_gate.sh
tests/tools/coordinator_mega_stress.py
tests/tools/coordinator_memory_leak_spec.py
tests/tools/mega_stress_runner.py
tests/tools/mock_miners_pool.py
tests/transfer_demo.sh
tests/treasury_bootstrap_guard_test.sh
tests/treasury_float_topup_gate.sh
tests/update_apt_sandbox_gate.sh
vast/00_inventory.sh
vast/01_run_fleet.sh
vast/01_run_pool_worker.sh
vast/02_collect_report.sh
vast/03_ui_snapshot.sh
vast/local_dashboard_probe.sh
vast/regional_latency_probe.sh
vast/ssh_check_ui.sh
vast/ssh_common.sh
vast/ssh_run_matrix.sh
vast/ssh_run_session.sh
